
@using OrganikTicaret.Models
@model IEnumerable<OrganikTicaret.Identitiy.AppUser>

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container pt-5">
    <h2>Kullanıcılar</h2>

    <p>
        @Html.ActionLink("Yeni Kullanıcı Ekle", "Register",null,new{@class="btn btn-danger"})
    </p>
    <table class="table table-bordered table-striped mb-5">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role.Name)
            </th>
           
            <th style="width: 140px;"></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new
                {
                    @class = "btn btn-warning btn-sm"
                })
           
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new
                {
                    @class = "btn btn-danger btn-sm"
                })
            </td>
        </tr>
        }

    </table>
</div>